/* Đảm bảo navbar không chiếm toàn bộ chiều rộng của màn hình */
.navbar {
    width: 100%;
}

/* Đảm bảo logo / brand không bị tràn ra ngoài */
.navbar-brand {
    margin-right: 1rem; /* Tăng khoảng cách bên phải của logo */
}

/* Tùy chỉnh màu chữ và khoảng cách giữa các mục menu */
.navbar-nav .nav-link {
    color: #333; /* Màu chữ */
    margin-right: 1rem; /* Khoảng cách giữa các mục menu */
}

/* Tùy chỉnh màu nền của navbar khi được hover */
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

.highlight {
    background-color: blue; /* Màu nền cho hàng được chọn */
}
.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    line-height: 1.5; /* Hoặc một giá trị phù hợp với thiết kế của bạn */
}
.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    vertical-align: middle;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* Điều chỉnh thêm nếu cần */
}
