{% extends 'layouts/base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <form action="{{ url_for('update_artist', id=artist.id) }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ artist.username }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ artist.email }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update User</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home</a>
{% endblock %}
